@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bebas+Neue|Montserrat&display=swap');
/* font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
 */
body{
  overflow-y: scroll;
  overflow-x: hidden;
}
/* <!-- Header --> */
.header{
  background: url('../images/rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  position: relative;
  height: 700px;
}
.rectangle{
  /* border: 1px solid green; */
  position: relative;
}

.logo-deliveryToolbar-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  /* background-color: #2187F31A; */
  padding: 10px;
}

/* .logo-deliveryToolbar-grid div{
  background-color: rgba(238, 24, 24, 0.17);
} */

/* <!-- Logo --> */
.logo{
  display: inline;
  position: relative;
  top: 0px;
  left:40px;
}
/* .logo a img{
  top: 10px;
  position: absolute;
} */
/* <!-- Delivery --> */
.delivery{
  position: absolute;
  text-align: right;
  top: 10px;
  right: 5%;
}
  .delivery img{
    width: 10%;
  }
  .delivery p{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    color: #3d2514;
    font-size: large;
    font-weight: bold;
  }
/* <!-- Toolbar --> */
.navigation {
  /* background-color: red; */
  position: absolute;
  top: 30px;
  right: 30px;
}
.nav-link {
  /* background-color: blue; */
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  color: #3d2514;
  font-size: large;
  margin: 10px;
}
/* <!-- Burger week --> */
.burgerWeek{
  float: left;
  position: absolute;
  width: 40%;
  top: 150px;
  left: 40px;
}
.burgerWeek img{
  width: 100%;
}
/* <!-- Deal --> */
.deal{
  float: right;
  right: 0px;
  position:absolute;
  width: 60%;
  top: 0px;
}
.deal img{
  width: 90%;
}
/* <!-- Try it Today --> */
.flex-container{
  display: flex;
  position: relative;
  top: 100px;
  width:90%;
  left: 5%;
}
.box-1 span, .box-2a span, .box-2b span{
  color: white;
  position: absolute;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  padding: 40px;
  font-size: 36px;
}
.box-1 span:nth-child(1), .box-2a span:nth-child(1), .box-2b span:nth-child(1){
  font-size: 20px;
}
.box-1 img{
  margin: 10px, 10px, 10px, 0px;
  width: 100%;
}
.box-2a img{

  margin-left: 20px;
  width: 100%;
}
.box-2b img{
  margin-left: 20px;
  width: 100%;
}
/* <!-- Always Tasty Burger --> */
.always{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  text-align: center;
  color: #3d2514;
}
.always p{
  background-color: #ffc045;
  padding: 10px 20px;
  display:inline;
}
.choose{
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  color: #3d2514;
  margin-top: 20px;
  font-size: 36px;
}
.text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #3d2514;
  position: absolute;
  left: 10%;
  width: 80%;
}
/* <!-- Order --> */
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  color: #3d2514;
  padding: 50px;
  margin-top: 70px;
  /* width: 100%; */
}
.grid div img{
  width: 100%;
}
.grid h3{
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
}
.grid p{
  padding: 0px 40px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 40px;
}
.grid span{
  font-family: 'Alfa Slab One', cursive;
  background-color: #bf2222;
  color: white;
  padding: 20px;
}
/* <!-- Event --> */
.events{
  padding: 30px;
  position: absolute;
  left: 5%;
  width: 90%;
}
.event-bg img{
  position: absolute;
  width: 100%;
}
.event-text{
  position: relative;
  float: left;
  width: 50%;
  margin-top: 80px;
}
.event-img{
  position:relative;
  float: right;
  width: 50%;
}
.event-img img{
  width: 100%;
  margin-top: 40px;
}
/* <!-- Reservation --> */
.reservation{
  /* background-color: #f7cdcd; */
  position: relative;
  top: 550px;
  width:100%;
  height: 750px;
}
.left-meal{
  position: absolute;
  margin-right: 20%;
}
#heading{
  color: #3d2514;
  text-align: center;
  font-size: 24px;
}
#heading p:nth-child(1){
  font-family: 'Bebas Neue', cursive;
  font-weight:bold;
}
#heading p:nth-child(2){
  font-family: 'Alfa Slab One', cursive;
  font-size: 36px;
}
.form{
  height: 300px;
  padding: 10px;
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-top: 8%;
}
form input{
  font-family: 'Bebas Neue', cursive;
  border: 1px solid #bebebe;
  border-radius: 5px;
  font-size: 18px;
  height: 60px;
  width: 300px;
  margin: 10px;
  padding-left: 20px;
}
form input[type="button"]{
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 1px;
  background-color: #bf2222;
  color: white;
  border: none;
}
.right-meal{
  float: right;
  position: absolute;
  right: 0%;
}
/* Footer */
.footer{
  display: block;
  color: white;
  margin-top: 400px;
  width: 90%;
  left: 5%;
  position:relative;
}
.footer-bg img{
  width: 100%;
}
.logo-white{
  position: absolute;
  top: 15%;
  left: 3%;
}
.footer-para{
  position: absolute;
  top: 40%;
  left: 3%;
  width: 40%;
}
.copyright{
  position: absolute;
  left: 3%;
  bottom: 3%;
}
.contact{
  position: absolute;
  left: 70%;
  top: 40%;
}
.contact i{
  margin: 20px;
}
.fas{
  position: relative;
}
.social{
  position: absolute;
  right: 3%;
  bottom: 3%;
}
.social a i{
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}
.social i:hover{
  color: white;
  background-color: black;
}
